BODY {
   font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
   margin: 0 0 0 0;
   text-align: center;
   background-color: #000999;
}
#header{
   text-align: center;
   margin:0 0 0 200px;
}
#header h1
{
    height:95px;
    background: url(../teatro_app/views/images/trm.png) no-repeat top center;
}
#content{
   background-color: #000999;
   color: #FFFFFF;
   font-size:10px;
   margin: 0px 100px 0px 100px;;
   text-align: left;
}
#lateral{
   position:absolute;
   width: 250px;
   font: 8pt Verdana;
   font-size: 11px;
   float:left;
   margin-top:-30px;
}
#lateral ul{
   margin : 0 0 0 0px;
   padding: 0 0 0 0px;
   list-style: none;
}
#lateral li{
   background-color: #000999;
   margin: 0px;
   padding: 0px 0px 0px 0px;
   /*font-weight: bold;*/
}
#lateral a{
   color: #FFFFFF;
   text-decoration: none;
}
#principal{
   background-color: #00008F;
   padding: 4px 4px 4px 4px;
   color: #FFFFFF;
   margin-left: 250px;
}
#principal ul
{
    margin-right:50px;
}
#principal dl
{
    margin-left:50px;
}
#footer{
   background-color: #000999;
   /*padding: 20 5 0 0px;*/
   text-align:center;
   color:white;
   font-size:9px;
}
blockquote
{
    line-height: 22px;
}
#footer p
{
    background: url(../teatro_app/views/images/estrella.png) no-repeat top center;
    height:30px;
}
.post {
    margin:auto;
    margin-bottom: 9px;
    background: #4169E1;
    border-top: 1px solid #4169E1;
    border-right: 1px solid #4169E1;
    border-bottom: 1px solid #4169E1;
    border-left: 1px solid #4169E1;
    background: url(../teatro_app/views/images/img1.gif) repeat-y -150px 0px;
}
.post h2{
    text-align:center;
}