BODY {
   font: 8pt Verdana, Geneva, Arial, Helvetica, sans-serif;
   margin: 10 0 10 0px;
   text-align: center;
   background-color: #000999;
}
#header{
   text-align: left;
   width: 1024px; /*Resoluci�n de la pantalla!!!!!!!!!!!!!!!*/
   margin: auto;
}
#header h1
{
	margin-left:320px;
	margin-right:120px;
	height:95px;
	background: url(../teatro_app/views/images/trm.png);
}
#content{
   background-color: #000999;
   color: #FFFFFF;
   font-size:10px;
   margin:auto;
   padding: 3 3 3 10px;
   text-align: left;
   width:1024px;
}
#lateral{
   position:absolute;
   width: 200px;
   font: Arial;
   font-size: 9px;
   /*background-color: #0000FF;*/
   float:left;
   padding-top:50px;
}
#lateral ul{
   margin : 0 0 0 0px;
   padding: 0 0 0 0px;
   list-style: none;
}
#lateral li{
   background-color: #000999;
   margin: 0px;
   padding: 2 2 2 2px;
   /*font-weight: bold;*/
}
#lateral a{
   color: #FFFFFF;
   text-decoration: underline;
}
#principal{
   background-color: #00008F;
   padding: 4 4 4 4px;
   color: #FFFFFF;
   margin-left: 200px;
}
#principal ul
{
	margin-right:63px;
}
#principal dl
{
	margin-left:63px;
}
#footer{
   background-color: #000999;
   /*padding: 20 5 0 0px;*/
   text-align:center;
   color:white;
   font-size:9px;
}
blockquote
{
	line-height: 22px;
}
#footer p
{
	background: url(../teatro_app/views/images/estrella.png) no-repeat top center;
	height:30px;
}
.post {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 9px;
	padding: 10px 40px 20px 20px;
	background: #4169E1;
	border-top: 1px solid #4169E1;
	border-right: 1px solid #4169E1;
	border-bottom: 1px solid #4169E1;
	border-left: 1px solid #4169E1;
	background: url(../teatro_app/views/images/img1.gif) repeat-y -150px 0px;
}
.post h2{
	text-align:center;
}